@page
@model PRN221_FMart_Project.Pages.Areas.Admin.Staffs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.HashPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.HashPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Role.RoleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.StaffId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
