@page
@model PRN221_FMart_Project.Pages.Areas.Staffs.Invoices.InvoiceListModel

@{
    ViewData["Title"] = "InvoiceList";
}

<h1>InvoiceList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Staff")
            </th>
            <th>
                @Html.DisplayName("Customer")
            </th>
            <th>
                @Html.DisplayName("CreatedAt")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invoice.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName) | @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
        </tr>
}
    </tbody>
</table>
